#Archivos o carpetas ignorados

#Datos
/data
/data/*.json

#Modulos
/node_modules

#dotenv
.env
.env.production
.env.development
.env.test
.env*
/docker/.env
/docker/.env.production
/docker/.env.development
/docker/.env.test

#errores
errors.log
logs/

# Ignorar configuraciones locales de VS Code
.vscode/
