<div>
    <h1>Olvidé mi constraseña</h1>
    <p>Si el usuario existe en la app se le enviará un mail para recuperar la contraseña</p>
    <form id="formMailID"  action="/api/mail/sendmailpass" method="post" >
        <input type="email" name="mail" required>
        <input type="submit">
    </form>
</div>
