<div>
    <h1>Cambio de contraseña</h1>
    <form action="/api/mail/changepassword" method="post" id="formID">
        <div>
            <label for="">Ingrese la contraseña nueva</label>
            <input type="password" name="password" required>
        </div>
        <input type="submit">
    </form>
</div>
<script>
    //Obtenemos las query params. Obtenemos el string de Query
    const url = window.location.search
    //Creamos el objeto que contiene las queryparasm usando su constructor
    const params = new URLSearchParams(url)
    //Mediante el metodo "get" obtenemos el id para utilizarlo en el fetch
    const email = params.get("email")
    const secret = params.get("secret")
    const form = document.getElementById('formID')
    form.setAttribute('action', `/api/mail/changepassword?secret=${secret}&email=${email}`)
</script>