<link rel="stylesheet" href="../../css/style.css">
<header>
    <nav class="navbar">
        <div class="nav-brand">
          <a class="brand-link" href="http://localhost:8080/admin">Panel</a>
        </div>
        <div class="nav-actions">
            <div class="user-name">{{userLoged.user}}</div>
            {{#if userLoged.user}}
                <div>
                    <a class="btn btn-light" href="/users/perfil">Ver Perfil</a>
                </div>
                <div>
                        <a class="btn btn-light" href="/">Tienda</a>
                </div>
                <div>
                    <a class="btn btn-danger" href="/api/sessions/logout">salir</a> 
                </div>
            {{/if}}
            {{#unless userLoged.user}}
                <div>
                    <a class="btn btn-light" href="/users/login">Iniciar Sesiónn</a>
                </div>
            {{/unless}}
        </div>
    </nav>
</header>
<main class="container">
    <div class="mt-5">
        {{#if isAdmin}}
            <a class="back-button" href="/admin">regresar a Dashboard Admin</a>
        {{else}}
            <a class="back-button" href="/">regresar a Tienda</a>
        {{/if}}
    </div>
    <h1>Productos con WebSocket</h1>
    <div class="my-4 px-5">
        <h3 class="mb-4">Crear Productos:</h3>
        <form class="row px-5" id="formProduct" onsubmit="return addProduct()">
            <div class="mb-1 col-xs-6 col-md-4">
                <label for="title" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="title">
            </div>
            <div class="mb-3 col-xs-6  col-md-4" >
                <label for="description" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="description">
            </div>
            <div class="mb-3 col-xs-6 col-md-4">
                <label for="price" class="form-label">Precio</label>
                <input type="text" class="form-control" id="price">
            </div>
            <div class="mb-3 col-xs-6 col-md-4">
                <label for="thumbnail" class="form-label">URL imagen</label>
                <input type="text" class="form-control" id="thumbnail">
            </div>
            <div class="mb-3 col-xs-6  col-md-4">
                <label for="code" class="form-label">Code</label>
                <input type="text" class="form-control" id="code">
            </div>
            <div class="mb-3 col-xs-6  col-md-4">
                <label for="stock" class="form-label">Stock</label>
                <input type="text" class="form-control" id="stock">
            </div>
            <div class="mb-3 col-xs-6  col-md-4">
                <label for="category" class="form-label">Categoría</label>
                <input type="text" class="form-control" id="category">
            </div>
            <div class="mb-3 col-xs-6  col-md-4">
                <label for="category" class="form-label">Propietario</label>
                <input type="text" class="form-control" id="owner" placeholder='Coloque "Admin" o su email'>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
    <div class="px-5">
        <h3>Productos:</h3>
        <div class="row gap-4 p-4 ms-4" id="products">

        </div>
    </div>
</main>
<script src="../../socket.io/socket.io.js"></script>
<script src="../../js/realtime.js"></script>